body, h1, h2, h3, h4, h6, p {
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 18.12px;
  font-size: 1.1325rem;
  line-height: 1.728;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 45rem) {
  body {
    font-size: 18.12px;
    font-size: 1.1325rem;
    line-height: 1.728;
  }
}

h1 {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 45.088px;
  font-size: 2.818rem;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 45rem) {
  h1 {
    font-size: 26.093px;
    font-size: 1.6308125rem;
    line-height: 1.2;
  }
}

h2 {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 26.093px;
  font-size: 1.6308125rem;
  line-height: 1.2;
  font-weight: 800;
}

[tabindex]:not([tabindex="-1"]), a, button, input, select {
  outline: 3px solid rgba(255, 0, 0, 0);
  outline-offset: 12.068px;
  -webkit-transition: 0.2s outline-offset;
  -o-transition: 0.2s outline-offset;
  transition: 0.2s outline-offset;
}
[tabindex]:not([tabindex="-1"]):focus, a:focus, button:focus, input:focus, select:focus {
  outline: 3px solid lightsalmon;
  outline-offset: 6.068px;
}

a {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 18.12px;
  font-size: 1.1325rem;
  line-height: 1.728;
  text-decoration: none;
  border-bottom: 2.927px solid lightsalmon;
  border-bottom: 0.1829375rem solid lightsalmon;
  -webkit-transition: 0.25s background, 0.05s border-bottom, 0.2s outline-offset;
  -o-transition: 0.25s background, 0.05s border-bottom, 0.2s outline-offset;
  transition: 0.25s background, 0.05s border-bottom, 0.2s outline-offset;
}
@media (max-width: 45rem) {
  a {
    font-size: 18.12px;
    font-size: 1.1325rem;
    line-height: 1.728;
  }
}
a:hover, a:focus {
  background: rgba(255, 160, 122, 0.75);
  border-bottom: 6.068px solid #214070;
  border-bottom: 0.37925rem solid #214070;
  color: black;
}

iframe {
  width: 100%;
}

.aria-labelledby {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.the-content > p,
.the-content > ul,
.the-content > blockquote {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 18.12px;
  padding-left: 1.1325rem;
  padding-right: 18.12px;
  padding-right: 1.1325rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 896px;
  margin-bottom: 18.12px;
  margin-bottom: 1.1325rem;
  margin-top: 18.12px;
  margin-top: 1.1325rem;
}
.the-content > img,
.the-content > figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 18.12px;
  padding-left: 1.1325rem;
  padding-right: 18.12px;
  padding-right: 1.1325rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 896px;
  margin-bottom: 37.574px;
  margin-bottom: 2.348375rem;
  margin-top: 37.574px;
  margin-top: 2.348375rem;
}
.the-content > h1,
.the-content > h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 18.12px;
  padding-left: 1.1325rem;
  padding-right: 18.12px;
  padding-right: 1.1325rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 896px;
  margin-bottom: 18.12px;
  margin-bottom: 1.1325rem;
  margin-top: 93.495px;
  margin-top: 5.8434375rem;
}
.the-content > h1:nth-child(1),
.the-content > h2:nth-child(1) {
  margin-top: 18.12px;
  margin-top: 1.1325rem;
}

figure {
  border-radius: 6.068px;
  overflow: hidden;
}

figure > img,
figure > .wp-block-embed__wrapper {
  border: 1px solid rgba(33, 64, 112, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.068px;
  overflow: hidden;
}

figure.is-type-video {
  -webkit-box-shadow: 0 8px 16px 0 rgba(33, 64, 112, 0.125);
          box-shadow: 0 8px 16px 0 rgba(33, 64, 112, 0.125);
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 15.1px;
  font-size: 0.94375rem;
  line-height: 1.728;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvYmFzZS5zY3NzIiwiYmFzZS5jc3MiLCIuLi9zY3NzL190ZXh0LXN0eWxlcy5zY3NzIiwiLi4vc2Nzcy9fY29sb3JzLnNjc3MiLCIuLi9zY3NzL19zY2FsZS5zY3NzIiwiLi4vc2Nzcy9fbWl4aW5zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBTUE7RUFDRSxTQUFBO0FDTEY7O0FET0E7RUVMRSxrQ0FBQTtFQUNBLDRCQUFBO1VBQUEsb0JBQUE7RUFDQSxjQ05LO0VEV0wsNENBQUE7RUFDQSxrQkFBQTtFQUNBLG9CRW1DYTtFRmxDYixrQkUwQ2U7RUo3Q2YsaUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0FDRUY7QUNBRTtFRk5GO0lFT0ksa0JBQUE7SUFDQSxvQkVpQ1c7SUZoQ1gsa0JFd0NhO0VIckNmO0FBQ0Y7O0FEUEE7RUVYRSxrQ0FBQTtFQUNBLDRCQUFBO1VBQUEsb0JBQUE7RUFDQSxjQ05LO0VEMEZMLDRDQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkUzQ2E7RUY0Q2IsZ0JFcENlO0VGcUNmLGdCQUFBO0VGN0VBLGtCQUFBO0FDaUJGO0FDNkRFO0VGaEZGO0lFaUZJLG1CQUFBO0lBQ0EsdUJFOUNXO0lGK0NYLGdCRXZDYTtFSG5CZjtBQUNGOztBRHRCQTtFRWZFLGtDQUFBO0VBQ0EsNEJBQUE7VUFBQSxvQkFBQTtFQUNBLGNDTks7RUR1R0wsNENBQUE7RUFDQSxtQkFBQTtFQUNBLHVCRXREYTtFRnVEYixnQkUvQ2U7RUZnRGYsZ0JBQUE7QUR2REY7O0FEN0JBO0VBQ0UscUNBQUE7RUFDQSx3QkFBQTtFQUNBLHVDQUFBO0VBQUEsa0NBQUE7RUFBQSwrQkFBQTtBQ2dDRjtBRC9CRTtFQUNFLDhCQUFBO0VBQ0EsdUJBQUE7QUNpQ0o7O0FEOUJBO0VFNUJFLGtDQUFBO0VBQ0EsNEJBQUE7VUFBQSxvQkFBQTtFQUNBLGNDTks7RURXTCw0Q0FBQTtFQUNBLGtCQUFBO0VBQ0Esb0JFbUNhO0VGbENiLGtCRTBDZTtFRmpDZixxQkFBQTtFQUNBLHdDQUFBO0VBQ0EsNkNBQUE7RUFDQSw4RUFBQTtFQUFBLHlFQUFBO0VBQUEsc0VBQUE7QURrREY7QUM3REU7RUZpQkY7SUVoQkksa0JBQUE7SUFDQSxvQkVpQ1c7SUZoQ1gsa0JFd0NhO0VId0JmO0FBQ0Y7QUMvQ0U7RUFQQSxxQ0FBQTtFQUNBLG9DQUFBO0VBQ0EsdUNBQUE7RUFDQSxZQUFBO0FEeURGOztBRHREQTtFQUNFLFdBQUE7QUN5REY7O0FEdkRBO0VBQ0UsYUFBQTtBQzBERjs7QUR4REE7RUtFRSxtQkFBQTtFQUNBLDZCQUFBO1VBQUEscUJBQUE7RUFDQSxXQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBO0VBQ0EsVUFBQTtBSjBERjs7QUQ5REU7OztFS3RDQSw4QkFBQTtVQUFBLHNCQUFBO0VBQ0EscUJBQUE7RUFDQSx1QkQ0Qk07RUMzQk4sc0JBQUE7RUFDQSx3QkQwQk07RUN2Qk4saUJBQUE7RUFDQSxrQkFBQTtFQUdBLGdCQUFBO0VBR0Esc0JBQUE7RUFDQSx3QkRlTTtFQ2ROLG1CQUFBO0VBQ0EscUJEYU07QUh1RlI7QUR2RUU7O0VLOUNBLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSxxQkFBQTtFQUNBLHVCRDRCTTtFQzNCTixzQkFBQTtFQUNBLHdCRDBCTTtFQ3ZCTixpQkFBQTtFQUNBLGtCQUFBO0VBR0EsZ0JBQUE7RUFTQSx1QkFBQTtFQUNBLDBCRFFPO0VDUFAsb0JBQUE7RUFDQSx1QkRNTztBSHVHVDtBRC9FRTs7RUtyREEsOEJBQUE7VUFBQSxzQkFBQTtFQUNBLHFCQUFBO0VBQ0EsdUJENEJNO0VDM0JOLHNCQUFBO0VBQ0Esd0JEMEJNO0VDdkJOLGlCQUFBO0VBQ0Esa0JBQUE7RUFHQSxnQkFBQTtFQWVBLHNCQUFBO0VBQ0Esd0JER007RUNGTixvQkFBQTtFQUNBLHdCRERNO0FIdUhSO0FJckhFOztFQUNFLG1CQUFBO0VBQ0EscUJERkk7QUgwSFI7O0FEM0ZBO0VLSEUsc0JBQUE7RUFDQSxnQkFBQTtBSmtHRjs7QUQ3RkE7O0VLVkUsd0NBQUE7RUFDQSw4QkFBQTtVQUFBLHNCQUFBO0VBR0Esc0JBQUE7RUFDQSxnQkFBQTtBSjBHRjs7QURoR0E7RUtIRSx5REFBQTtVQUFBLGlEQUFBO0FKdUdGOztBRGpHQTtFQUNFLFdBQUE7RUFDQSxZQUFBO0FDb0dGOztBRGxHQTtFRS9FRSxrQ0FBQTtFQUNBLDRCQUFBO1VBQUEsb0JBQUE7RUFDQSxjQ05LO0VEbUZMLDRDQUFBO0VBQ0EsaUJBQUE7RUFDQSxxQkVoQ2dCO0VGaUNoQixrQkU5QmU7QUh1SWpCIiwiZmlsZSI6ImJhc2UuY3NzIn0= */