body, h1, h2, h3, h4, h6, p {
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 18.12px;
  font-size: 1.1325rem;
  line-height: 1.728;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 45rem) {
  body {
    font-size: 18.12px;
    font-size: 1.1325rem;
    line-height: 1.728;
  }
}

h1 {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 45.088px;
  font-size: 2.818rem;
  line-height: 1.2;
  font-weight: 800;
}
@media (max-width: 45rem) {
  h1 {
    font-size: 37.574px;
    font-size: 2.348375rem;
    line-height: 1.2;
  }
}

h2 {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 37.574px;
  font-size: 2.348375rem;
  line-height: 1.2;
  font-weight: 600;
}

[tabindex]:not([tabindex="-1"]), a, button, input, select {
  outline: 3px solid rgba(255, 0, 0, 0);
  outline-offset: 12.068px;
  -webkit-transition: 0.2s outline-offset;
  -o-transition: 0.2s outline-offset;
  transition: 0.2s outline-offset;
}
[tabindex]:not([tabindex="-1"]):focus, a:focus, button:focus, input:focus, select:focus {
  outline: 3px solid lightsalmon;
  outline-offset: 6.068px;
}

a {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #214070;
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 18.12px;
  font-size: 1.1325rem;
  line-height: 1.728;
  text-decoration: none;
  border-bottom: 2.927px solid lightsalmon;
  border-bottom: 0.1829375rem solid lightsalmon;
  -webkit-transition: 0.25s background, 0.05s border-bottom, 0.2s outline-offset;
  -o-transition: 0.25s background, 0.05s border-bottom, 0.2s outline-offset;
  transition: 0.25s background, 0.05s border-bottom, 0.2s outline-offset;
}
@media (max-width: 45rem) {
  a {
    font-size: 18.12px;
    font-size: 1.1325rem;
    line-height: 1.728;
  }
}

a:hover, a:focus {
  background: rgba(255, 160, 122, 0.75);
  border-bottom: 6.068px solid #214070;
  border-bottom: 0.37925rem solid #214070;
  color: black;
}

iframe {
  width: 100%;
}

.aria-labelledby {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.the-content > p,
.the-content > ul,
.the-content > blockquote,
.the-content > h1,
.the-content > h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 18.12px;
  padding-left: 1.1325rem;
  padding-right: 18.12px;
  padding-right: 1.1325rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 896px;
  margin-bottom: 18.12px;
  margin-bottom: 1.1325rem;
  margin-top: 18.12px;
  margin-top: 1.1325rem;
}
.the-content > img,
.the-content > figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 18.12px;
  padding-left: 1.1325rem;
  padding-right: 18.12px;
  padding-right: 1.1325rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 896px;
  margin-bottom: 37.574px;
  margin-bottom: 2.348375rem;
  margin-top: 37.574px;
  margin-top: 2.348375rem;
}

figure {
  border: 1px solid rgba(33, 64, 112, 0.25);
  border-radius: 6.068px;
  overflow: hidden;
}

figure.is-type-video {
  -webkit-box-shadow: 0 8px 16px 0 rgba(33, 64, 112, 0.125);
          box-shadow: 0 8px 16px 0 rgba(33, 64, 112, 0.125);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvYmFzZS5zY3NzIiwiYmFzZS5jc3MiLCIuLi9zY3NzL190ZXh0LXN0eWxlcy5zY3NzIiwiLi4vc2Nzcy9fY29sb3JzLnNjc3MiLCIuLi9zY3NzL19zY2FsZS5zY3NzIiwiLi4vc2Nzcy9fbWl4aW5zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBTUE7RUFDRSxTQUFBO0FDTEY7O0FET0E7RUVMRSxrQ0FBQTtFQUNBLDRCQUFBO1VBQUEsb0JBQUE7RUFDQSxjQ05LO0VEV0wsNENBQUE7RUFDQSxrQkFBQTtFQUNBLG9CRWlDYTtFRmhDYixrQkV1Q2U7RUoxQ2YsaUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0FDRUY7QUNBRTtFRk5GO0lFT0ksa0JBQUE7SUFDQSxvQkUrQlc7SUY5Qlgsa0JFcUNhO0VIbENmO0FBQ0Y7O0FEUEE7RUVYRSxrQ0FBQTtFQUNBLDRCQUFBO1VBQUEsb0JBQUE7RUFDQSxjQ05LO0VEdUVMLDRDQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkUxQmE7RUYyQmIsZ0JFcEJlO0VGcUJmLGdCQUFBO0FEMUNGO0FDMkNFO0VGN0RGO0lFOERJLG1CQUFBO0lBQ0Esc0JFN0JXO0lGOEJYLGdCRXZCYTtFSGpCZjtBQUNGOztBRHRCQTtFRWRFLGtDQUFBO0VBQ0EsNEJBQUE7VUFBQSxvQkFBQTtFQUNBLGNDTks7RURvRkwsNENBQUE7RUFDQSxtQkFBQTtFQUNBLHNCRXJDYTtFRnNDYixnQkUvQmU7RUZnQ2YsZ0JBQUE7QURyQ0Y7O0FEN0JBO0VBQ0UscUNBQUE7RUFDQSx3QkFBQTtFQUNBLHVDQUFBO0VBQUEsa0NBQUE7RUFBQSwrQkFBQTtBQ2dDRjtBRC9CRTtFQUNFLDhCQUFBO0VBQ0EsdUJBQUE7QUNpQ0o7O0FEOUJBO0VFM0JFLGtDQUFBO0VBQ0EsNEJBQUE7VUFBQSxvQkFBQTtFQUNBLGNDTks7RURXTCw0Q0FBQTtFQUNBLGtCQUFBO0VBQ0Esb0JFaUNhO0VGaENiLGtCRXVDZTtFRjlCZixxQkFBQTtFQUNBLHdDQUFBO0VBQ0EsNkNBQUE7RUFDQSw4RUFBQTtFQUFBLHlFQUFBO0VBQUEsc0VBQUE7QURpREY7QUM1REU7RUZnQkY7SUVmSSxrQkFBQTtJQUNBLG9CRStCVztJRjlCWCxrQkVxQ2E7RUgwQmY7QUFDRjs7QURoREE7RUFDRSxxQ0FBQTtFQUNBLG9DQUFBO0VBQ0EsdUNBQUE7RUFDQSxZQUFBO0FDbURGOztBRGpEQTtFQUNFLFdBQUE7QUNvREY7O0FEbERBO0VBQ0UsYUFBQTtBQ3FERjs7QURuREE7RUtiRSxtQkFBQTtFQUNBLDZCQUFBO1VBQUEscUJBQUE7RUFDQSxXQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBO0VBQ0EsVUFBQTtBSm9FRjs7QUR6REU7Ozs7O0VLM0NBLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSxxQkFBQTtFQUNBLHVCRDBCTTtFQ3pCTixzQkFBQTtFQUNBLHdCRHdCTTtFQ3JCTixpQkFBQTtFQUNBLGtCQUFBO0VBR0EsZ0JBQUE7RUFHQSxzQkFBQTtFQUNBLHdCRGFNO0VDWk4sbUJBQUE7RUFDQSxxQkRXTTtBSDJGUjtBRGxFRTs7RUtyREEsOEJBQUE7VUFBQSxzQkFBQTtFQUNBLHFCQUFBO0VBQ0EsdUJEMEJNO0VDekJOLHNCQUFBO0VBQ0Esd0JEd0JNO0VDckJOLGlCQUFBO0VBQ0Esa0JBQUE7RUFHQSxnQkFBQTtFQVNBLHVCQUFBO0VBQ0EsMEJETU87RUNMUCxvQkFBQTtFQUNBLHVCRElPO0FIMkdUOztBRHpFQTtFS2pCRSx5Q0FBQTtFQUNBLHNCQUFBO0VBQ0EsZ0JBQUE7QUo4RkY7O0FENUVBO0VLZkUseURBQUE7VUFBQSxpREFBQTtBSitGRiIsImZpbGUiOiJiYXNlLmNzcyJ9 */