@use 'layouting';
@use 'scale';
@use 'colors';
@mixin contained-max-width {
  max-width: layouting.$canvas-d;
}
@mixin contained-edge-padding {
  box-sizing: border-box;
  padding-left: scale.px(scale.$small);
  padding-left: scale.$small;
  padding-right: scale.px(scale.$small);
  padding-right: scale.$small;
}
@mixin contained-centered {
  margin-left: auto;
  margin-right: auto;
}
@mixin reader-column-max-width {
  max-width: layouting.$canvas-d * 0.70;
}
@mixin the-content-v-margin {
  margin-bottom: scale.px(scale.$small);
  margin-bottom: scale.$small;
  margin-top: scale.px(scale.$small);
  margin-top: scale.$small;
}
@mixin the-content-v-margin-large {
  margin-bottom: scale.px(scale.$medium);
  margin-bottom: scale.$medium;
  margin-top: scale.px(scale.$medium);
  margin-top: scale.$medium;
}
@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@mixin visible {
  clip: auto;
  clip-path: none;
  height: auto;
  width: auto;
  overflow: auto;
  position: relative;
  white-space: inherit;
}
@mixin rounded {
  border: 1px solid colors.dusk(0.25);
  border-radius: scale.px(scale.$teeny);
  overflow: hidden;
}
@mixin shadowed {
  box-shadow: 0 8px 16px 0 colors.dusk(0.125);
}