@use 'scale';
@use 'colors';

@mixin base-text {
  text-rendering: optimizeLegibility;
  font-kerning: normal; 
  color: colors.$dusk;
}

@mixin paragraph {
  @include base-text;
  font-family: 'OpenSans', Verdana, sans-serif;
  font-size: scale.px(scale.$font-size-db);
  font-size: scale.$font-size-db;
  line-height: scale.$line-height-db;
  @media (max-width: scale.$break-s) {
    font-size: scale.px(scale.$font-size-mb);
    font-size: scale.$font-size-mb;
    line-height: scale.$line-height-mb;
  }
}
@mixin link-asleep {
  @include paragraph;
  text-decoration: none;
  border-bottom: scale.px(scale.$thin) solid colors.$grapefruit;
  border-bottom: scale.$thin solid colors.$grapefruit;
  transition: 0.25s background, 0.05s border-bottom, 0.2s outline-offset;
}
@mixin link-awake {
  background: colors.grapefruit(0.75);
  border-bottom: scale.px(scale.$teeny) solid colors.$dusk;
  border-bottom: scale.$teeny solid colors.$dusk;
  color: black;
}
@mixin link {
  @include link-asleep;
  &:hover, &:focus {
    @include link-awake;
  }
}
@mixin link-underline-asleep {
  @include paragraph;
  text-decoration-thickness: 0;
  transition: 0.25s background, 0.05s text-decoration-thickness, 0.2s outline-offset;
}
@mixin link-underline-awake {
  text-decoration: underline;
  background: colors.grapefruit(0.75);
  border: none;
  text-decoration-thickness: scale.px(scale.$teeny);
  text-decoration-thickness: scale.$teeny;
  text-underline-offset: scale.px(scale.$thin);
  text-underline-offset: scale.$thin;
}
@mixin link-underline {
  @include link-underline-asleep;
  &:hover, &:focus {
    @include link-underline-awake;
  }
}
@mixin link-inverted {
  @include link;
  color: white;
  border-bottom-width: 0;
  transition: 0.25s color, 0.05s border-bottom, 0.2s outline-offset;
  &:hover, &:focus {
    color: colors.$grapefruit;
    background: none;
    border-bottom: scale.px(scale.$teeny) solid colors.$grapefruit;
    border-bottom: scale.$teeny solid colors.$grapefruit;
  }
}
@mixin link-inverted-underline {
  @include link-underline;
  color: white;
  transition: 0.25s color, 0.05s text-decoration-thickness, 0.2s outline-offset;
  &:hover, &:focus {
    color: colors.$grapefruit;
    background: none;
  }
}
@mixin paragraph-alt {
  @include base-text;
  font-family: 'OpenSans', Verdana, sans-serif;
  font-size: scale.px(scale.$font-size-small);
  font-size: scale.$font-size-small;
  line-height: scale.$line-height-db;
}
@mixin page-heading {
  @include base-text;
  font-family: 'OpenSans', Verdana, sans-serif;
  font-size: scale.px(scale.$font-size-dh);
  font-size: scale.$font-size-dh;
  line-height: scale.$line-height-dh;
  font-weight: 800;
  @media (max-width: scale.$break-s) {
    font-size: scale.px(scale.$font-size-mh);
    font-size: scale.$font-size-mh;
    line-height: scale.$line-height-mh;
  }
}
@mixin section-heading {
  @include base-text;
  font-family: 'OpenSans', Verdana, sans-serif;
  font-size: scale.px(scale.$font-size-mh);
  font-size: scale.$font-size-mh;
  line-height: scale.$line-height-mh;
  font-weight: 600;
}
