@use 'colors';
@use 'layouting';
@use 'scale';
@use 'text-styles';
@use 'mixins';

body, h1, h2, h3, h4, h6, p {
  margin: 0;
}
body {
  @include text-styles.paragraph;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  @include text-styles.page-heading;
  text-align: center;
}
h2 {
  @include text-styles.section-heading;
}
// Focus styling based on WAI
[tabindex]:not([tabindex="-1"]), a, button, input, select {
  outline: 3px solid rgba(255, 0, 0, 0);
  outline-offset: scale.px(scale.$teeny) + 6px;
  transition: 0.2s outline-offset;
  &:focus {
    outline: 3px solid colors.$grapefruit;
    outline-offset: scale.px(scale.$teeny);
  }
}
a {
  @include text-styles.link;
}
iframe {
  width: 100%;
}
.aria-labelledby {
  display: none;
}
.visually-hidden {
  @include mixins.visually-hidden();
}
.the-content {
  > p, 
  > ul, 
  > blockquote, 
  > h1, 
  > h2 {
    @include mixins.contained-edge-padding;
    @include mixins.contained-centered;
    @include mixins.reader-column-max-width;
    @include mixins.the-content-v-margin;
  }
  > img,
  > figure {
    @include mixins.contained-edge-padding;
    @include mixins.contained-centered;
    @include mixins.reader-column-max-width;
    @include mixins.the-content-v-margin-large;
  }
}
figure {
  @include mixins.rounded;
}
figure > * {
  @include mixins.bordered;
  @include mixins.rounded;
}
figure.is-type-video > * {
  @include mixins.shadowed;
}