@use 'scale';
@use 'mixins';
@use 'layouting';

.contained {
  @include mixins.contained-max-width;
  @include mixins.contained-edge-padding;
  @include mixins.contained-centered;
}
.legible {
  @include mixins.contained-max-width;
  @include mixins.contained-edge-padding;
  @include mixins.contained-centered;
  @include mixins.reader-column-max-width;
}

// Link chain
.link-chain {
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.link-chain__link-item {
  margin-right: scale.px(scale.$small);
  margin-right: scale.$small;
  margin-left: 0;
  float: left;
}
.link-chain--flush-right {
  float: right;
  justify-content: flex-end;
}
.link-chain--flush-right__link-item {
  margin-right: 0;
  margin-left: scale.px(scale.$small);
  margin-left: scale.$small;
}

// Wall Hugger
// For divs which contain two children flush left and right
.wall-hugger {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wall-hugger__left {
  float: left;
}
.wall-hugger__right {
  float: right;
}

// Content Bar
// Module representing a single-line padded bar
.content-bar {
  padding-top: scale.px(scale.$small);
  padding-top: scale.$small;
  padding-bottom: scale.px(scale.$small);
  padding-bottom: scale.$small;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Windsock
// One side has square image, other side has text
.windsock {
  display: flex;
}
.windsock__left {
  margin-right: scale.px(scale.$medium) * 0.5;
  margin-right: scale.$medium * 0.5;
}
.windsock__right {
  margin-left: scale.px(scale.$medium) * 0.5;
  margin-left: scale.$medium * 0.5;
}
.windsock--narrow {
  .windsock__left {
    margin-right: scale.px(scale.$small) * 0.5;
    margin-right: scale.$small * 0.5;
  }
  .windsock__right {
    margin-left: scale.px(scale.$small) * 0.5;
    margin-left: scale.$small * 0.5;
  }
}
.windsock--centered {
  align-items: center;
}
.windsock__image {
  width: scale.px(scale.$large);
  width: scale.$large;
  height: 100%;
}
.windsock__image--huge {
  width: scale.px(scale.$huge);
  width: scale.$huge;
}
.windsock__image--rounded {
  border-radius: scale.px(scale.$huge);
  border-radius: scale.$huge;
}
.windsock__image--square {
  height: scale.px(scale.$large);
  height: scale.$large;
  object-fit: cover;
}
.windsock__image--square.windsock__image--huge {
  height: scale.px(scale.$huge);
  height: scale.$huge;
  object-fit: cover;
}
.windsock__content {

}

// Flex Row
// Horizontal flex row with adjustable spacing
.flex-row {
  display: flex;
  @media (max-width: scale.$break-s) {
    flex-direction: column;
  }
}
.flex-row__bead {
  margin-right: scale.px(scale.$small);
  margin-right: scale.$small;
  float: left;
  @media (max-width: scale.$break-s) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: scale.px(scale.$small);
    margin-bottom: scale.$small;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}
.flex-row--stretched__bead {
  margin-right: scale.px(scale.$large);
  margin-right: scale.$large;
}


.carousel {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.carousel__card {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}
.carousel--1-col__card:nth-last-child(1) {
  margin-bottom: 0;
}
.carousel__card--dummy {
  height: 0;
}
@media (min-width: scale.$break-xs) {
  .carousel--2-col__card,
  .carousel--2-col__card--dummy {
    flex: 1 1 50%;
  }
  .carousel--2-col__card:nth-child(2n+1) {
    padding-left: 0;
    padding-right: scale.px(scale.$medium * 0.5);
    padding-right: scale.$medium * 0.5;
  }
  .carousel--2-col__card:nth-child(2n+2) {
    padding-right: 0;
    padding-left: scale.px(scale.$medium * 0.5);
    padding-left: scale.$medium * 0.5;
  }
}
@media (min-width: scale.$break-s) {
  .carousel--3-col__card, .carousel--3-col__card--dummy {
    flex: 1 1 33%;
  }
  $spacing: scale.$medium;
  .carousel--3-col__card:nth-child(3n+1) {
    padding-left: 0;
    padding-right: scale.px($spacing * 0.667);
    padding-right: $spacing * 0.667;
  }
  .carousel--3-col__card:nth-child(3n+2) {
    padding-left: scale.px($spacing * 0.333);
    padding-left: $spacing * 0.333;
    padding-right: scale.px($spacing * 0.333);
    padding-right: $spacing * 0.333;
  }
  .carousel--3-col__card:nth-child(3n+3) {
    padding-right: 0;
    padding-left: scale.px($spacing * 0.667);
    padding-left: $spacing * 0.667;
  }
}