@use 'scale';
@use 'text-styles';
@use 'colors';
@use 'layouting';
@use 'mixins';

.heading--post-title,
.heading--page-title {
  @include mixins.contained-edge-padding;
  @include mixins.contained-centered;
  @include mixins.reader-column-max-width;
  @include mixins.the-content-v-margin;
  margin-top: scale.px(scale.$large);
  margin-top: scale.$large;
  margin-bottom: scale.px(scale.$medium);
  margin-bottom: scale.$medium;
}

// Hero
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: scale.$break-m) {
    display: block;
  }
}
.hero__container__content {
  max-width: 50%;
  width: 50%;
  box-sizing: border-box;
  padding: scale.px(scale.$medium) 0;
  padding: scale.$medium 0;
}
.hero {
  // Mid-page hero banners
  background: colors.heatwave-gradient(0.175, 215deg);
  @include mixins.the-content-v-margin-large;

  // Page vanguard hero banners
  &:nth-child(1) {
    background: none;
    margin-top: 0;
    margin-bottom: 0;
    .hero__container__content {
      padding: scale.px(scale.$large) 0;
      padding: scale.$large 0;
    }
    .hero__container__content--right {
      @media (max-width: scale.$break-m) {
        padding-top: 0;
      }
    }
  }
}
.hero__container__content--left {
  padding-right: scale.px(scale.$medium) * 0.5;
  padding-right: scale.$medium * 0.5;
  float: left;
  @media (max-width: scale.$break-m) {
    float: none;
    width: 100%;
    max-width: none;
    padding-right: 0;
  }
}
.hero__container__content--right {
  padding-left: scale.px(scale.$medium) * 0.5;
  padding-left: scale.$medium * 0.5;
  float: right;
  @media (max-width: scale.$break-m) {
    float: none;
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-top: 0;
  }
}
@media (max-width: scale.$break-m) {
  .hero__container__content__image,
  .hero__container__content__video {
    margin: 0;
  }
}
.hero__container__content__text__heading {
  @include text-styles.page-heading;
}
.hero__container__content__text__caption {
  margin: scale.px(scale.$small) 0;
  margin: scale.$small 0;
}
.hero__container__content__text__button--no-caption {
  margin-top: scale.px(scale.$medium);
  margin-top: scale.$medium;
}
.hero__container__content__image {
  width: 100%;
}

.mini-hero__container__content__text__header {
  @include text-styles.section-heading;
}


// Skip link styling
.skip-link {
  @include mixins.visually-hidden();
  &:focus {
    @include mixins.visible();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: scale.px(scale.$medium) 0;
    padding: scale.$medium 0;
    box-shadow: 0 8px 25px 0 colors.dusk(0.5);
    text-align: center;
    border: none;
    background: colors.dusk(0.95);
    color: white;
    z-index: layouting.$z-layer--skip;
  }
  &:not(:focus) {
    @include mixins.visually-hidden();
  }
}

$button-dim: scale.$medium + scale.$teeny * 1.44;
.button {
  color: black;
  font-weight: 600;
  background: colors.$grapefruit;
  position: relative;
  display: inline-block;
  padding: 0 scale.px($button-dim);
  padding: 0 $button-dim;
  height: scale.px($button-dim);
  height: $button-dim;
  line-height: scale.px($button-dim);
  line-height: $button-dim;
  text-decoration: none;
  border-radius: scale.px(scale.$small);
  border-radius: scale.$small;
  border: none;
  transition: 
    0.25s box-shadow, 
    0.25s background, 
    0.25s color,
    0.2s outline-offset;
  box-shadow: 0 8px 12px 0 colors.dusk(0.075);
  &:hover, &:focus {
    border: none;
    background: colors.grapefruit(0.75);
    box-shadow: 0 2px 2px 0 colors.dusk(0.225);
  }
}
.button--gradient {
  color: colors.$dusk;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 0 scale.px($button-dim);
  padding: 0 $button-dim;
  height: scale.px($button-dim);
  height: $button-dim;
  line-height: scale.px($button-dim);
  line-height: $button-dim;
  text-decoration: none;
  border: none;
  background: none;
  box-shadow: none;
  z-index: 2;
  &:before {
    content: '';
    background: white;
    position: absolute;
    top: scale.px(scale.$teeny);
    top: scale.$teeny;
    left: scale.px(scale.$teeny);
    left: scale.$teeny;
    right: scale.px(scale.$teeny);
    right: scale.$teeny;
    bottom: scale.px(scale.$teeny);
    bottom: scale.$teeny;
    border-radius: scale.px(scale.$small) * 1.44;
    border-radius: scale.$small * 1.44;
    z-index: -1;
  }
  &:after {
    content: '';
    @include colors.heatwave-bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: scale.px(scale.$small) * 1.44;
    border-radius: scale.$small * 1.44;
    z-index: -2;
    box-shadow: 0 8px 16px 0 colors.dusk(0.125);
    transition: 0.25s box-shadow;
  }
  &:hover:after, &focus:after {
    box-shadow: 0 2px 4px 0 colors.dusk(0.25);
  }
  &:hover, &:focus {
    border: none;
    background: none;
    box-shadow: none;
  }
}


// Header styling
.header a {
  border-bottom-width: 0;
  &:hover {
    border-bottom-width: scale.px(scale.$teeny);
    border-bottom-width: scale.$teeny;
  }
}
.header a[aria-current] {
  border-bottom-width: scale.px(scale.$thin);
  border-bottom-width: scale.$thin;
  border-bottom-color: colors.$dusk;
  &:hover {
    border-bottom-width: scale.$teeny;
  }
}


.inverted a { //sorry for cascade
  @include text-styles.link-inverted;
}
a.site-title {
  font-weight: 800;
  font-size: scale.px(scale.$font-size-db-b);
  font-size: scale.$font-size-db-b;
  letter-spacing: -0.05em;
}
.site-title-wrapper--footer {
  margin-bottom: scale.px(scale.$small);
  margin-bottom: scale.$small;
}


.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
// Main menu styling when in hamburger mode
@media (max-width: scale.$break-s) {
  .menu-wrapper--hidden {
    display: none;
  }
  .menu--primary--open {
    display: block;
    background: colors.$dusk;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: scale.$large + scale.$medium;
    max-width: 70%;
    bottom: 0;
    z-index: layouting.$z-layer--menu;
  }
  .menu--primary__link-item {
    float: none;
    // border: 1px solid green;
  }
  .menu--primary__link-item a {
    padding: scale.$small 0;
    display: block;
    @include text-styles.link-inverted-underline;
  }
}

.hamburger {
  display: none;
  border: none;
  padding: 0;
  background: white;
  position: relative;
  z-index: layouting.$z-layer--menu;
  @include text-styles.paragraph;
  height: scale.px(scale.lines(1));
  height: scale.lines(1);
  &:hover {
    cursor: pointer;
  }
  @media (max-width: scale.$break-s) {
    display: flex;
    align-items: center;
  }
}
.hamburger--fixed {
  position: fixed;
  top: scale.px(scale.$small);
  top: scale.$small;
  right: scale.px(scale.$small);
  right: scale.$small;
}
.hamburger__icon {
  margin-right: scale.px(scale.$teeny);
  margin-right: scale.$teeny;
}
.hamburger__icon__group {
  fill: colors.$dusk;
}

.menu-fog {
  display: none;
}
@media (max-width: scale.$break-s) {
  .menu-fog {
    display: block;
    pointer-events: all;
    opacity: 0.9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: layouting.$z-layer--menu-fog;
    transition: 0.25s opacity;
  }
  .menu-fog--cleared {
    opacity: 0;
    pointer-events: none;
    z-index: layouting.$z-layer--base;
    transition: 0.5s opacity;
  }

}

.footer {
  margin-top: auto;
  display: block;
}
.footer__footer-content {
  background: colors.$dusk;
  padding: scale.px(scale.$medium) 0;
  padding: scale.$medium 0;
  margin-top: scale.px(scale.$small);
  margin-top: scale.$small;
  width: 100%;
}
.menu--footer__link-item,
.menu--socials__link-item {
  line-height: scale.$line-height-db;
  margin-bottom: scale.px(scale.$teeny);
  margin-bottom: scale.$teeny;
}
@mixin auto-icon($char) {
  font-family: "FontAwesome";
  margin-right: scale.px(scale.$teeny);
  margin-right: scale.$teeny;
  width: scale.px(scale.$small);
  width: scale.$small;
  display: inline-block;
  content: $char;
}
.menu--socials__link-item a[href*="twitter"]::before {
  @include auto-icon("\f099");
}
.menu--socials__link-item a[href*="facebook"]::before {
  @include auto-icon("\f082");
}
.menu--socials__link-item a[href*="youtube"]::before {
  @include auto-icon("\f16a");
}
.menu--socials__link-item a[href*="instagram"]::before {
  @include auto-icon("\f16d");
}

.logo-link {
  border: none;
  background: none;
  transition: 0.25s opacity, 0.2s outline-offset;
  &:hover, &:focus {
    border: none;
    background: none;
    opacity: 0.75;
  }
}
.carousel {
  @include mixins.contained-edge-padding;
  @include mixins.contained-centered;
  @include mixins.the-content-v-margin-large;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.carousel--2-col {
  @include mixins.reader-column-max-width;
}
.carousel--3-col {
  @include mixins.contained-max-width;
}
.carousel__card {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}
.carousel__card--dummy {
  height: 0;
}
@media (min-width: scale.$break-xs) {
  .carousel--2-col__card,
  .carousel--2-col__card--dummy {
    flex: 1 1 50%;
  }
  .carousel--3-col__card {
    flex: 1 1 33%;
  }
  .carousel--2-col__card:nth-child(2n+1) {
    padding-left: 0;
    padding-right: scale.px(scale.$medium * 0.5);
    padding-right: scale.$medium * 0.5;
  }
  .carousel--2-col__card:nth-child(2n+2) {
    padding-right: 0;
    padding-left: scale.px(scale.$medium * 0.5);
    padding-left: scale.$medium * 0.5;
  }
  .carousel--3-col__card:nth-child(3n+1) {
    padding-left: 0;
    padding-right: scale.px(scale.$medium * 0.667);
    padding-right: scale.$medium * 0.667;
  }
  .carousel--3-col__card:nth-child(3n+2) {
    padding-left: scale.px(scale.$medium * 0.333);
    padding-left: scale.$medium * 0.333;
    padding-right: scale.px(scale.$medium * 0.333);
    padding-right: scale.$medium * 0.333;
  }
  .carousel--3-col__card:nth-child(3n+3) {
    padding-right: 0;
    padding-left: scale.px(scale.$medium * 0.667);
    padding-left: scale.$medium * 0.667;
  }
}

.card__link__text {
  display: inline;
  font-weight: 500;
  @include text-styles.link-asleep;
  border-bottom-width: 0;
}
.card__link__image {
  @include mixins.rounded;
  @include mixins.bordered;
  opacity: 1;
}
.card__link {
  display: block;
  border: none;
  &:hover, &:focus {
    background: none;
    border: none;
    .card__link__text {
      @include text-styles.link-awake;
    }
  }
}
.card__link__description {
  @include text-styles.paragraph-alt;
  margin-top: scale.px(scale.$small);
  margin-top: scale.$small;
}
.card {
  margin-bottom: scale.px(scale.$medium);
  margin-bottom: scale.$medium;
}