@use 'colors';
@use 'mixins';
@use 'scale';

.the-content > .wp-block-embed.is-type-video,
.the-content > .wp-block-embed.is-type-video .wp-block-embed__wrapper,
.the-content > .wp-block-embed.is-type-video iframe {
  height: scale.px(scale.lines(16));
  height: scale.lines(16);
  @media (max-width: scale.$break-m) {
    height: scale.px(scale.lines(12));
    height: scale.lines(12);
  }
}

.hero .wp-block-embed.is-type-video,
.hero .wp-block-embed.is-type-video .wp-block-embed__wrapper,
.hero .wp-block-embed.is-type-video iframe {
  height: scale.px(scale.lines(12));
  height: scale.lines(12);
}
