$dusk: #214070;
$lemon: #FFD800;
$grapefruit: #FFA07A;
$salmon: #FF6862;

@mixin gradient-bg($angle, $color1, $distance1, $color2, $distance2) {
 background: $color1;
 background: -moz-linear-gradient($angle, $color1 $distance1, $color2 $distance2);
 background: -webkit-linear-gradient($angle, $color1 $distance1, $color2 $distance2);
 background: linear-gradient($angle, $color1 $distance1, $color2 $distance2);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$color1}",endColorstr="#{$color2}",GradientType=1); 
}

@mixin heatwave-bg {
  @include gradient-bg(82deg, $grapefruit, 11%, $salmon, 100%);
}
