$dusk: rgb(33, 64, 112);
$lemon: rgb(255, 216, 0);
$grapefruit: rgb(255, 160, 122);
$salmon: rgb(255, 102, 97);

@function dusk($alpha) {
  @return rgba(33, 64, 112, $alpha);
}
@function lemon($alpha) {
  @return rgba(255, 216, 0, $alpha);
}
@function grapefruit($alpha) {
  @return rgba(255, 160, 122, $alpha);
}
@function salmon($alpha) {
  @return rgba(255, 102, 97, $alpha);
}

@mixin heatwave-bg {
  background: linear-gradient(45deg, $dusk 20%, $salmon 50%, $lemon 100%);
}
