// Typescale values (base 15.1px, ratio 1.2)

// db: desktop-body
// dh: desktop-heading
// mb: mobile-body
// mh: mobile-heading

$font-size-db: 1.359rem;
$font-size-dh: 2.818rem;
$font-size-mb: 0.94375rem;
$font-size-mh: 1.6308125rem;

$line-height-db: 1.728;
$line-height-dh: 1.44;
$line-height-mb: 1.728;
$line-height-mh: 1.44;

$big-space: 4.0579375rem;
$med-space: 2.818rem;
$lil-space: 1.6308125rem;