// Typescale values (base 15.1px, ratio 1.2)

// db: desktop-body
// dh: desktop-heading
// mb: mobile-body
// mh: mobile-heading
@use 'sass:math';

$font-size-db: 1.1325rem;
$font-size-dh: 2.818rem;
$font-size-mb: 1.1325rem;
$font-size-mh: 2.348375rem;
$font-size-db-b: 1.359rem;

$line-height-db: 1.728;
$line-height-dh: 1.2;
$line-height-mb: 1.728;
$line-height-mh: 1.2;

$line-height-rem: $font-size-db * $line-height-db;
$six-lines: 6 * $line-height-rem;

$large: 5.8434048rem;
$medium: 2.348375rem;
$small: 1.1325rem;

$teeny: 1.2 * 0.3160625rem;
$thin: 0.18291rem;

@function px($value) {
  @return math.div($value, 1rem) * 16px;
}

$break-xs: math.div(360rem, 16);
$break-s: math.div(720rem, 16);
$break-m: math.div(900rem, 16);
$break-l: math.div(1440rem, 16);