@use 'scale';
@use 'colors';

@mixin paragraph {
  font-family: 'OpenSans', Verdana, sans-serif;
  font-size: scale.px(scale.$font-size-db);
  font-size: scale.$font-size-db;
  line-height: scale.$line-height-db;
  text-rendering: optimizeLegibility;
  font-kerning: normal; 
  color: colors.$dusk;
  @media (max-width: scale.$break-s) {
    font-size: scale.px(scale.$font-size-mb);
    font-size: scale.$font-size-mb;
    line-height: scale.$line-height-mb;
  }
}
@mixin main-header {
  font-size: scale.px(scale.$font-size-dh);
  font-size: scale.$font-size-dh;
  line-height: scale.$line-height-dh;
  font-weight: 800;
  @media (max-width: scale.$break-s) {
    font-size: scale.px(scale.$font-size-mh);
    font-size: scale.$font-size-mh;
    line-height: scale.$line-height-mh;
  }
}
