@use 'scale';

@mixin main-header {
  font-size: scale.$font-size-dh;
  line-height: scale.$line-height-dh;
  font-weight: 800;
  @media (max-width: scale.$break-s) {
    font-size: scale.$font-size-mh;
    line-height: scale.$line-height-mh;
  }
}