@use 'scale';
@use 'colors';

@mixin base-text {
  text-rendering: optimizeLegibility;
  font-kerning: normal; 
  color: colors.$dusk;
}

@mixin paragraph {
  @include base-text;
  font-family: 'OpenSans', Verdana, sans-serif;
  font-size: scale.px(scale.$font-size-db);
  font-size: scale.$font-size-db;
  line-height: scale.$line-height-db;
  @media (max-width: scale.$break-s) {
    font-size: scale.px(scale.$font-size-mb);
    font-size: scale.$font-size-mb;
    line-height: scale.$line-height-mb;
  }
}
@mixin link {
  @include paragraph;
  text-decoration: none;
  border-bottom: scale.px(scale.$thin) solid colors.$grapefruit;
  border-bottom: scale.$thin solid colors.$grapefruit;
  transition: 0.25s background, 0.05s border-bottom, 0.2s outline-offset;
}
@mixin link-underline {
  @include paragraph;
  text-decoration-thickness: 0;
  transition: 0.25s background, 0.05s text-decoration-thickness, 0.2s outline-offset;;
  &:hover, &:focus {
    text-decoration: underline;
    border: none;
    text-decoration-thickness: scale.px(scale.$teeny);
    text-decoration-thickness: scale.$teeny;
    text-underline-offset: scale.px(scale.$thin);
    text-underline-offset: scale.$thin;
  }
}
@mixin link-inverted {
  @include link;
  color: white;
  border-bottom-width: 0;
  transition: 0.25s color, 0.05s border-bottom, 0.2s outline-offset;
  &:hover, &:focus {
    color: colors.$grapefruit;
    background: none;
    border-bottom: scale.px(scale.$teeny) solid colors.$grapefruit;
    border-bottom: scale.$teeny solid colors.$grapefruit;
  }
}
@mixin link-inverted-underline {
  @include link-underline;
  color: white;
  transition: 0.25s color, 0.05s text-decoration-thickness, 0.2s outline-offset;;
  &:hover, &:focus {
    color: colors.$grapefruit;
    background: none;
  }
}
@mixin paragraph-alt {
  @include base-text;
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: scale.px(scale.$font-size-db-b);
  font-size: scale.$font-size-db-b;
  line-height: scale.$line-height-db;
}
@mixin main-header {
  @include base-text;
  font-family: 'OpenSans', Verdana, sans-serif;
  font-size: scale.px(scale.$font-size-dh);
  font-size: scale.$font-size-dh;
  line-height: scale.$line-height-dh;
  font-weight: 800;
  @media (max-width: scale.$break-s) {
    font-size: scale.px(scale.$font-size-mh);
    font-size: scale.$font-size-mh;
    line-height: scale.$line-height-mh;
  }
}
