@use 'colors';
@use 'layouting';
@use 'scale';
@use 'text-styles';

body, h1, h2, h3, h4, h6, p {
  margin: 0;
}
body {
  @include text-styles.paragraph;
}
h1 {
  @include text-styles.main-header;
}
a {
  @include text-styles.paragraph;
  text-decoration: none;
  border-bottom: scale.px(scale.$thin) solid colors.$grapefruit;
  border-bottom: scale.$thin solid colors.$grapefruit;
  transition: background 0.25s, border-bottom 0.05s;
}
a:hover, a:focus {
  background: colors.grapefruit(0.75);
  border-bottom: scale.px(scale.$teeny) solid colors.$dusk;
  border-bottom: scale.$teeny solid colors.$dusk;
  color: black;
}
p {
  max-width: layouting.$canvas-d * 0.70;
  max-width: layouting.$canvas-d * 0.70;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: scale.px(scale.$medium);
  margin-bottom: scale.$medium;
}