@use 'colors';
@use 'layouting';
@use 'scale';
@use 'text-styles';
@use 'mixins';

body, h1, h2, h3, h4, h6, p {
  margin: 0;
}
body {
  @include text-styles.paragraph;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  @include text-styles.main-header;
}
// Focus styling based on WAI
[tabindex]:not([tabindex="-1"]), a, button, input, select {
  outline: 3px solid rgba(255, 0, 0, 0);
  outline-offset: scale.px(scale.$teeny) + 6px;
  transition: 0.2s outline-offset;
  &:focus {
    outline: 3px solid colors.$grapefruit;
    outline-offset: scale.px(scale.$teeny);
  }
}
a {
  @include text-styles.link;
}
a:hover, a:focus {
  background: colors.grapefruit(0.75);
  border-bottom: scale.px(scale.$teeny) solid colors.$dusk;
  border-bottom: scale.$teeny solid colors.$dusk;
  color: black;
}
iframe {
  width: 100%;
}
.aria-labelledby {
  display: none;
}
.visually-hidden {
  @include mixins.visually-hidden();
}
.contained > p,
.contained > ul,
.contained > img,
.contained > figure,
.contained > table,
.contained > blockquote {
  @include mixins.flow-block;
}