@use 'colors';
@use 'layouting';
@use 'scale';
@use 'text-styles';

body, h1, h2, h3, h4, h6, p {
  margin: 0;
}
body {
  @include text-styles.paragraph;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  @include text-styles.main-header;
}
// Focus styling based on WAI
[tabindex]:not([tabindex="-1"]), a, button, input, select {
  outline: 3px solid rgba(255, 0, 0, 0);
  outline-offset: scale.px(scale.$teeny) + 6px;
  transition: 0.2s outline-offset;
  &:focus {
    outline: 3px solid colors.$grapefruit;
    outline-offset: scale.px(scale.$teeny);
  }
}
a {
  @include text-styles.link;
}
a:hover, a:focus {
  background: colors.grapefruit(0.75);
  border-bottom: scale.px(scale.$teeny) solid colors.$dusk;
  border-bottom: scale.$teeny solid colors.$dusk;
  color: black;
}
p {
  // @include text-styles.paragraph-alt;
  max-width: layouting.$canvas-d * 0.70;
  max-width: layouting.$canvas-d * 0.70;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: scale.px(scale.$medium);
  margin-bottom: scale.$medium;
}