@mixin fontkit($font-family, $font-path, $trailer, $svg-hash, $font-weight, $font-style) {
  font-family: $font-family;
  src: url("#{$font-path}-#{$trailer}.eot");
  src: url("#{$font-path}-#{$trailer}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}-#{$trailer}.woff2") format("woff2"),
       url("#{$font-path}-#{$trailer}.woff") format("woff"),
       url("#{$font-path}-#{$trailer}.ttf") format("truetype"),
       url("#{$font-path}-#{$trailer}.svg#{$svg-hash}") format("svg");
  font-weight: $font-weight;
  font-style: $font-style;
}

@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "bold", "#OpenSansbold", bold, normal);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "bolditalic", "#OpenSansbold_italic", bold, italic);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "extrabold", "#OpenSansextrabold", 800, normal);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "extrabolditalic", "#OpenSansextrabold_italic", 800, italic);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "italic", "#OpenSansitalic", normal, italic);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "light", "#OpenSanslight", normal, normal);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "lightitalic", "#OpenSanslight_italic", normal, italic);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "regular", "#OpenSansregular", normal, normal);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "semibold", "#OpenSanssemibold", 500, normal);
}
@font-face {
  @include fontkit("OpenSans", "../fonts/opensans", "semibolditalic", "#OpenSanssemibold_italic", 500, italic);
}
@font-face {
  @include fontkit("Montserrat", "../fonts/montserrat", "regular-webfont", "#montserratregular", normal, normal);
}
@font-face {
  @include fontkit("Montserrat", "../fonts/montserrat", "italic-webfont", "#montserratitalic", normal, italic);
}
