@use 'scale';
@use 'layouting';

.contained {
  max-width: layouting.$canvas-d;
  margin-left: auto;
  margin-right: auto;
  padding-left: scale.px(scale.$little);
  padding-left: scale.$little;
  padding-right: scale.px(scale.$little);
  padding-right: scale.$little;
}