@use 'scale';
@use 'text-styles';
@use 'utils';
@use 'colors';

// Hero
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__content {
  flex: 50%;
  margin: scale.$large 0;
}
.hero__content--left {
  margin-right: scale.$medium;
}
.hero__content__text {
}
.hero__content__text__header {
  @include text-styles.main-header;
}
.hero__content__text__header,
.hero__content__text__caption {
  margin-bottom: scale.$little;
}
.hero__content__image {
  width: 100%;
}

// Link chain
.link-chain {
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: flex-start;
  list-style: none;
}
.link-chain__link-item {
  margin-right: scale.$little;
  margin-left: 0;
}
.link-chain--flush-right {
  justify-content: flex-end;
}
.link-chain--flush-right__link-item {
  margin-right: 0;
  margin-left: scale.$little;
}

// for divs which contain two children flush left and right
.wall-hugger {
  display: flex;
  justify-content: space-between;
}

// Skip link styling
.skip-link {
  &:not(:focus) {
    @include utils.visually-hidden();
  }
}

// TODO: Basic button
// Idea: represent the data within the website design! 
// Use blocky orange outline which fades into another color, like the data itself!!
.button {
  color: colors.$dusk;
  font-weight: 600;
  // background: colors.$grapefruit;
  display: inline-block;
  border-color: colors.$dusk;
  border-width: scale.$teeny;
  border-style: solid;
  border-radius: scale.$little;
  padding: 0 scale.$medium;
  height: scale.$medium;
  line-height: scale.$medium;
  text-decoration: none;
  &:hover, &:focus {
    background: colors.$dusk;
    color: white;
  }
}

// Module representing a single-line padded bar
.content-bar {
  height: scale.$large;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Header styling
.header a {
  border-bottom-width: 0;
  &:hover {
    border-bottom-width: scale.$teeny;
  }
}
.header a[aria-current] {
  border-bottom-width: scale.$thin;
  border-bottom-color: colors.$dusk;
  &:hover {
    border-bottom-width: scale.$teeny;
  }
}

.site-title {
  font-weight: 800;
  font-size: scale.$font-size-db-b;
  letter-spacing: -0.05em;
}