@use 'scale';
@use 'text-styles';

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__content {
  flex: 50%;
}
.hero__content__text {
  margin: scale.$big-space 0;
}
.hero__content__header {
  @include text-styles.main-header;
  margin-bottom: scale.$lil-space;
}
.hero__content__image {
  width: 100%;
}