@use 'scale';
@use 'text-styles';
@use 'utils';
@use 'colors';

// Hero
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__content {
  flex: 50%;
  margin: scale.$large 0;
}
.hero__content--left {
  margin-right: scale.$medium;
}
.hero__content__text {
  
}
.hero__content__text__header {
  @include text-styles.main-header;
}
.hero__content__text__header,
.hero__content__text__caption {
  margin-bottom: scale.$little;
}
.hero__content__image {
  width: 100%;
}

// Link chain
.link-chain {
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: flex-start;
  list-style: none;
}
.link-chain__link-item {
  margin-right: scale.$little;
  margin-left: 0;
}
.link-chain--flush-right {
  justify-content: flex-end;
}
.link-chain--flush-right__link-item {
  margin-right: 0;
  margin-left: scale.$little;
}

// for divs which contain two children flush left and right
.wall-hugger {
  display: flex;
  justify-content: space-between;
}

// Skip link styling
.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: scale.$medium 0;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 25px 0 colors.dusk(0.5);
  text-align: center;
  &:focus {
    border: none;
    background: colors.dusk(0.95);
    color: white;
  }
  &:not(:focus) {
    @include utils.visually-hidden();
  }
}

// TODO: Basic button
// Idea: represent the data within the website design! 
// Use blocky orange outline which fades into another color, like the data itself!!
.button {
  color: colors.$dusk;
  font-weight: 600;
  // background: colors.$grapefruit;
  position: relative;
  display: inline-block;
  padding: 0 (scale.$medium + scale.$teeny * 1.44);
  height: (scale.$medium + scale.$teeny * 1.44);
  line-height: (scale.$medium + scale.$teeny * 1.44);
  text-decoration: none;
  border: none;
  background: none;
  &:before {
    content: '';
    background: white;
    position: absolute;
    top: 1 * scale.$teeny;
    left: 1.2 * scale.$teeny;
    right: 1.2 * scale.$teeny;
    bottom: 1 * scale.$teeny;
    border-radius: scale.$little;
    z-index: -1;
  }
  &:after {
    content: '';
    @include colors.heatwave-bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: scale.$little * 1.44;
    z-index: -2;
    box-shadow: 0 8px 16px 0 colors.dusk(0.2);
    transition: 0.25s box-shadow;
    // border-bottom: 2px solid colors.$dusk;
  }
  &:hover:after, &focus:after {
    box-shadow: 0 2px 6px 0 colors.dusk(0.333);
  }
  &:hover, &:focus {
    border: none;
    background: none;
  }
}

// Module representing a single-line padded bar
.content-bar {
  height: scale.$large;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Header styling
.header a {
  border-bottom-width: 0;
  &:hover {
    border-bottom-width: scale.$teeny;
  }
}
.header a[aria-current] {
  border-bottom-width: scale.$thin;
  border-bottom-color: colors.$dusk;
  &:hover {
    border-bottom-width: scale.$teeny;
  }
}

.site-title {
  font-weight: 800;
  font-size: scale.$font-size-db-b;
  letter-spacing: -0.05em;
}