@use 'scale';
@use 'text-styles';
@use 'utils';
@use 'colors';

// Hero
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: scale.$break-m) {
    display: block;
  }
}
.hero__content {
  max-width: 50%;
  margin: scale.px(scale.$large) 0;
  margin: scale.$large 0;
  box-sizing: border-box;
}
.hero__content--left {
  padding-right: scale.px(scale.$medium) * 0.5;
  padding-right: scale.$medium * 0.5;
  float: left;
  @media (max-width: scale.$break-m) {
    float: none;
    width: 100%;
    max-width: none;
    padding: 0;
  }
}
.hero__content--right {
  padding-left: scale.px(scale.$medium) * 0.5;
  padding-left: scale.$medium * 0.5;
  float: right;
  @media (max-width: scale.$break-m) {
    float: none;
    width: 100%;
    max-width: none;
    padding: 0;
  }
}
.hero__content__text {
  
}
.hero__content__text__header {
  @include text-styles.main-header;
}
.hero__content__text__header,
.hero__content__text__caption {
  margin-bottom: scale.px(scale.$little);
  margin-bottom: scale.$little;
}
.hero__content__image {
  width: 100%;
}

// Link chain
.link-chain {
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.link-chain__link-item {
  margin-right: scale.px(scale.$little);
  margin-right: scale.$little;
  margin-left: 0;
  float: left;
}
.link-chain--flush-right {
  float: right;
  justify-content: flex-end;
}
.link-chain--flush-right__link-item {
  margin-right: 0;
  margin-left: scale.px(scale.$little);
  margin-left: scale.$little;
}

// for divs which contain two children flush left and right
.wall-hugger {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wall-hugger__left {
  float: left;
}
.wall-hugger__right {
  float: right;
}

// Skip link styling
.skip-link {
  @include utils.visually-hidden();
  &:focus {
    @include utils.visible();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: scale.px(scale.$medium) 0;
    padding: scale.$medium 0;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 25px 0 colors.dusk(0.5);
    text-align: center;
    border: none;
    background: colors.dusk(0.95);
    color: white;
  }
  &:not(:focus) {
    @include utils.visually-hidden();
  }
}

$button-dim: scale.$medium + scale.$teeny * 1.44;
.button {
  color: colors.$dusk;
  font-weight: 600;
  // background: colors.$grapefruit;
  position: relative;
  display: inline-block;
  padding: 0 scale.px($button-dim);
  padding: 0 $button-dim;
  height: scale.px($button-dim);
  height: $button-dim;
  line-height: scale.px($button-dim);
  line-height: $button-dim;
  text-decoration: none;
  border: none;
  background: none;
  &:before {
    content: '';
    background: white;
    position: absolute;
    top: scale.px(scale.$teeny);
    top: scale.$teeny;
    left: 1.2 * scale.px(scale.$teeny);
    left: 1.2 * scale.$teeny;
    right: 1.2 * scale.px(scale.$teeny);
    right: 1.2 * scale.$teeny;
    bottom: scale.$teeny;
    bottom: scale.px(scale.$teeny);
    border-radius: scale.px(scale.$little);
    border-radius: scale.$little;
    z-index: -1;
  }
  &:after {
    content: '';
    @include colors.heatwave-bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: scale.px(scale.$little) * 1.44;
    border-radius: scale.$little * 1.44;
    z-index: -2;
    box-shadow: 0 8px 16px 0 colors.dusk(0.2);
    transition: 0.25s box-shadow;
    // border-bottom: 2px solid colors.$dusk;
  }
  &:hover:after, &focus:after {
    box-shadow: 0 2px 6px 0 colors.dusk(0.333);
  }
  &:hover, &:focus {
    border: none;
    background: none;
  }
}

// Module representing a single-line padded bar
.content-bar {
  height: scale.$large;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Header styling
.header a {
  border-bottom-width: 0;
  &:hover {
    border-bottom-width: scale.px(scale.$teeny);
    border-bottom-width: scale.$teeny;
  }
}
.header a[aria-current] {
  border-bottom-width: scale.px(scale.$thin);
  border-bottom-width: scale.$thin;
  border-bottom-color: colors.$dusk;
  &:hover {
    border-bottom-width: scale.$teeny;
  }
}

.site-title {
  font-weight: 800;
  font-size: scale.px(scale.$font-size-db-b);
  font-size: scale.$font-size-db-b;
  letter-spacing: -0.05em;
}