@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@mixin visible {
  clip: auto;
  clip-path: none;
  height: auto;
  width: auto;
  overflow: auto;
  position: relative;
  white-space: inherit;
}

.aria-labelledby {
  display: none;
}
.visually-hidden {
  @include visually-hidden();
}